/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header img {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    padding-top: 15px;
    border-top: 3px solid transparent;
}

nav a:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}

main h1 { 
    font-size: 18px;
}

main p {
    margin-top: 5px;
}

form {
    display: flex;
}

form .fa-solid {
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    background-color: var(--main-bg-color);
}

form input { 
    border: none;
    border-top: 1px solid var(--main-bg-color) ;
    border-bottom: 1px solid var(--main-bg-color);
    padding: 15px;
    font-weight: bold;
    width: 152px;
}

form input::placeholder {
    color: black;
}

form button {
    background-color: var(--main-color);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    font-weight: bold;
    color: white;
}

form button .fa-magnifying-glass {
    color: white;
    margin-right: 10px;
    background-color: transparent;
    display: none;
}

.filtres button {
    background-color: white;
    border-radius: 30px;
    border: 2px solid #D9D9D9;
    margin: 20px 1px;
    padding: 10px 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.filtres {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;

}

.filtres p {
    font-weight: bold;
    font-size: 14px;
}

.filtres button i {
    font-size: 18px;
    margin-right: 10px;
}

.filtres button:hover {
    background-color: var(--filter-bg-color);
}

.informations {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.informations i {
    padding-bottom: 6px;
}


.informations p {
    font-size: 14px    ;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements .card {
    width: 250px;
    box-sizing:  border-box;
    
}

.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.plus {
    font-size: 18px;
    font-weight: bold;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************** Activités *************/

.activites {
    width: 100%;
}

.activites .card {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 0;
}

.activites .card img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites .activites-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.activites .card-title {
    padding: 20px;
    margin: 0;
    font-size: 16px;

}

.activites-cards a {
    gap: 25px;
    flex: 1;
    display: block;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

/********* Footer *************/

footer {
    display: flex;
    align-items: flex-start;
    background-color: var(--main-bg-color);
    gap: 50px;
    margin-top: 60px;
    padding: 10px;


}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 2px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

.hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .card img {
        height: 200px;
    }

    .activites .card {
        max-height: 270px;
    }
    .activites .card-title {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .plus {
        display: block;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) { 

    * {
        max-width: 100%;  
    }

    .main-container {
        padding-left: 0;
        padding-right: 0;
    }

    body {
        overflow-x: auto;
    }
    
    header {
        flex-direction: column;
        align-items: center;
        padding: 0px 0;
    }

    header img {
        margin-bottom: 20px;
        margin-top: 30px;
        width: 20%;
        justify-content: center;
    }

    header nav {
        width: 100%;
        gap: 0px;
        font-size: 19px;
    }
    
    header nav a {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 15px;
        border-top: none;
        padding-top: 15px;
    }

    main h1 {
        font-size: 23px;
        width: 80%;
        padding-left: 20px;
    }

    main p {
        margin-bottom: 35px;
        width: 80%;
        padding-left: 20px;
        font-size: 16px;
    }

    form {
        width: 90%;
        padding-left: 20px;
    }

    form button {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin-left: 0px;
    }

    form input {
        flex: 1;
        width: auto;
        box-sizing: border-box;
        font-size: 18px;
        padding-left: 30px;
    }

    form button .button-text {
        display: none;
    }

    form button .fa-magnifying-glass {
        display: inline;
        font-size: 16px;
    }

    .filtres {
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .filtres p {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 30px;
        font-size: 18px;
        padding-left: 0;
        
    }

    .filtres button {
        flex: 1 1 45%;
        padding-bottom: 15px;
        padding-top: 15px;
        margin: 5px;
        font-size: 14px;
    }

    .informations {
        margin-top: 20px;
    }

    .informations i {
        padding-left: 20px;
        margin-bottom: 28px;
    }

    .informations p {
        margin-left: -15px;
        font-size: 16px;
    }

    header nav a:hover {
        border-top-color: transparent;
        border-bottom-color: var(--main-color);
    }

    .hebergements-and-populaires section {
        background-color: transparent;
        width: 100%;
        border-radius: 0 0;
    }

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        margin-top: -10px;
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires p {
        padding-left: 0;
    }

    .card-title {
        font-size: 16px;
    }

    .populaires .card {
        margin-top: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;
    }
    .hebergements .card {
        width: 100%;
        margin-top: -10px;
    }

    .activites {
        padding-left: 20px;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites .card {
        width: 100%;  
        height: auto;
        margin-top: 20px;
    }
    
    .activites .card img {
        height: 141px;  
    }

    .activites-cards {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;

    }
}
